:root {
  --text: #222222;
  --textb: rgba(0,0,0,.54);
  --bg: #ffffff;
  --md: #f2f2f2;
  --md2: #dadce0;
  --sans: arial, sans-serif;
  --gray: #5f6368;
  --blue: #1a73e8;
  --bblue: #2b7de9;
  --text-size: 14px;
}

html {
  font-family: var(--sans);
  color: var(--text);
  font-size: var(--text-size);
}

body {
  margin: 0;
}

html{
  height: 100%;
}

body {
  min-height:100%;
}


main a,
a.services {
  color: var(--text);
  text-decoration: none;
}

main {
}

nav a:hover, footer a:hover {
  text-decoration: underline;
}

svg.services {
  fill: var(--gray);
}

body,
footer,
nav,
#logo,
#search,
#legal,
.flex-cols,
#searchbar {
  display: flex;
  flex: 0 0 auto;
}

nav, main, #logo {
  padding-left: 1em;
  padding-right: 1em;
}

nav {
  padding: 6px;
}

#logo, #search {
  flex-direction: column;
  align-items: center;
}

#logo {
  margin-top: 10vh;
}

#logo img {
  max-height: 7em;
}

footer,
nav,
body {
  flex-direction: column;
}

.flex-cols {
  align-items: center;
  margin-left: auto;
}

.flex-cols > div {
  padding: 0.5em 0 0.5em 1em;
}

#spacer {
  flex-grow: 1;
  box-sizing: border-box;
}


footer {
  background-color: var(--md);
  color: var(--textb);
}

footer a {
  color: var(--textb);
  text-decoration: none;
}

#country, #legal {
  margin-top: auto;
  padding: 1em 2em;
  border-bottom: 1px solid var(--md2);
}

.obvbutton {
  background: var(--blue);
  color: var(--bg);
  border-radius: 5px;
  height: 2.5em;
  width: 7em;
  font-size: calc(var(--text-size) + 2);
  border: 0px;
}

.obvbutton:hover {
  background: var(--bblue);
}

#search {
  padding: 1.5em;
  max-width: 600px;
  margin: 0 auto;
}

#search button {
  background: var(--md);
  border-radius: 5px;
  font-size: calc(var(--text-size) + 2);
  border: 0px;
  height: 2.5em;
  padding: 0 1em;
  margin: 1em 4px;
}

#search button:hover {
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  border: 1px solid var(--md2);
}

#searchbar {
  border: 1px solid var(--md2);
  border-radius: 24px;
  height: 44px;
  max-width: 500px;
  align-items: center;
}

#searchbar input {
  border: none;
  outline: none;
  padding: 0 2em;
}

#searchbar input:focus {
  outline:none
}

.searchicons {
  padding: 5px 8px 0 16px;
}

#legal {
  justify-content: space-evenly;
}

.legalese a {
  padding: 0 1em;
}
